CDK_DEPLOY_ACCOUNT=123456789012
CDK_DEPLOY_REGION=eu-west-1

RDS_PG_DB_NAME=kyselytest
RDS_PG_CLUSTER_ARN=arn:aws:rds:eu-west-1:123456789012:cluster:pg-cluster
RDS_PG_MASTER_SECRET_ARN=arn:aws:secretsmanager:eu-west-1:123456789012:secret:pg-master
